<head>
    <link rel="stylesheet/less" type="text/css" href="/styles/importer.less" />
    <script src="/js/less.js" type="text/javascript"></script>
</head>

<h1><%= usecase.name %></h1>
<%= usecase.description %>

<img src='./Activities.puml'></img>

<h2>Actors</h2>
<ul>
<% for(let aname in usecase.actors) {
let actorNoSpaces = actors[aname].shortname;
-%>
    <li><a href='/doc/actor/<%= actorNoSpaces %>'><%= aname %></a></li>
<% } %>
</ul>

<h2>Detail Scenarios</h2>
<ul>
<% for(let sname in usecase.scenarios) {
let nameNoSpaces = sname.replace(/ /g, '');
-%>
<li><a href='#Scenario-<%= nameNoSpaces %>'><%= sname %></a></li>
<% } %>
</ul>
<% for(let sname in usecase.scenarios) {
let nameNoSpaces = sname.replace(/ /g, '');
let scenario = usecase.scenarios[sname];
let pkgPath = global.packages[usecase.package.replace(/ /g, '')].prefix;
-%>
<h3 id='Scenario-<%= nameNoSpaces %>'><%= sname %></h3>
<%= scenario.description %>
<h4>Action</h4>
<a href='/doc/package<%= pkgPath %>#Action-<%= scenario.method.replace(/\//g, '-') %>'><%= scenario.method %>(...)</a>
<h4>Actors</h4>
<ul>
<% for(let aname in scenario.actors) {
    let actor = global.actors[aname];
%>
<li><a href='./doc/actor/<%= actor.shortname %>'><%= aname %> </a></li>
</ul>

<% } %>
<% } %>
