<head>
    <base href="http://<%= hostURL %><%= global.ailtire.config.urlPrefix %>/" >
    <script src="js/aframe.js"></script>
    <script src="js/three.js"></script>
    <script src="js/3d-force-graph.js"></script>
    <script src="js/d3-force-3d.js"></script>
    <script src="js/d3-octree.js"></script>
    <script src="js/Graph3D.js"></script>
    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="http://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css" />
    <script src="js/socket.io.js"></script>
</head>

<div style="position: relative; height: 200px;">
    <div id="objlist" style="position: absolute; left: 0px; width: 49.9%; height: 200px;"></div>
    <div id="objdetail" style="position: absolute; right: 0px; width: 49.9%; height: 200px;"></div>
</div>
<div class="modelGraph" id="DrawingArea" style="position: absolute; left: 0px; width: 100%; height 700px;"></div>
<script type="text/javascript">
<%
let coutput = [];
let doutput = [];
let i = 0;
for(let cname in cols) {
    let col = cols[cname];
    coutput.push(`{ field: '${col.name}', text:'${col.name}' }`);
    doutput.push(`{ recid:${i}, name:'${col.name}: ', value:record.${col.name}detail }`);
    i++;
}
coutput = coutput.join(',');
doutput = doutput.join(',');
let routput = [];
for(let id in objs) {
    let obj = objs[id];
    let aoutput = [ ];
    aoutput.push(`'recid': '${id}'`);
    for(let attr in obj) {
        let myAttr = obj[attr];
        if(myAttr.count) {
            aoutput.push(`'${attr}': '${myAttr.count}'`);
            let values = [];
            for(let i in myAttr.values) {
                let mvalue = myAttr.values[i];
                if(mvalue.link) {
                    values.push(`<a href="${mvalue.link}" target="_self">${mvalue.name}</a>`);
                } else {
                    values.push(`${mvalue.name}`);
                }
            }
            aoutput.push(`'${attr}detail': '${values.join(', ')}'`);
        } else {
            aoutput.push(`'${attr}': '${myAttr.name}'`);
            if(myAttr.link) {
                aoutput.push(`'${attr}detail': '<a href="${myAttr.link}" target="_self" >${myAttr.name}</a>'`);
            } else {
                aoutput.push(`'${attr}detail': '${myAttr.name}'`);
            }
        }
    }
    routput.push(`{ ${aoutput.join(',')} }`);
}
routput = routput.join(',');
-%>
    $(function () {
        $('#objlist').w2grid({
            name: 'objlist',
            columns: [ <%- coutput -%> ],
            records: [ <%- routput -%> ],
            onClick: function (event) {
                // window.graph.selectNodeByID(event.recid);
                w2ui['objdetail'].clear();
                var record = this.get(event.recid);
                w2ui['objdetail'].add([
                    <%- doutput -%>
                ]);
            }
        });
        $('#objdetail').w2grid({
            header: 'Details',
            show: { header: true, columnHeaders: false },
            name: 'objdetail',
            columns: [
                { field: 'name', caption: 'Name', size: '100px', style: 'background-color: #efefef; border-bottom: 1px solid white; padding-right: 5px;', attr: "align=right" },
                { field: 'value', caption: 'Value', size: '100%', render: function(record) {
                    return '<div>' + record.value + '</div>';
                } }
            ]
        });
    });
</script>


<%
let model = definition;
%>
<div style="display:none;">
    <div id="scratchspace" style="display:none;">
        <a-scene embedded height="0px" width="0px">
            <a-entity id="ObjectGarden" position="-10 20 -100">
                <a-sphere id="default3D" position="0 0 0" radius="10" color="#cccccc"></a-sphere>
                <a-sphere id="default3DSelected" position="0 0 0" radius="10" color="#ffff00"></a-sphere>
                <a-sphere id="default3DTargeted" position="0 0 0" radius="10" color="#ff0000"></a-sphere>
                <a-sphere id="default3DSourced" position="0 0 0" radius="10" color="#00ff00"></a-sphere>
                <% for(let cname in global.classes) {
                let cls = global.classes[cname];
                if(cls.definition.view) {
                %>
                <%- cls.definition.view.object3d() %>
                <% } } %>
            </a-entity>
        </a-scene>
    </div>
</div>
<script type="module">
    function updateObject(obj) {
        let oid = obj._attributes.id;
        let nodes = {};
        let links = [];
        nodes[oid] = {id: oid, name: obj._attributes.name, group:"<%= className %>", level: obj.package, view:obj.definition.name + '3D'  };
        let aname = "";
        let aoid = "";
        let otype = "";
        let aobj = null;
        let listRecord = {};
        for(let aname in obj.definition.attributes ) {
            let attr = obj._attributes[aname];
            listRecord[aname] = obj._attributes[aname];
            listRecord[aname+'detail'] = obj._attributes[aname];
        }
        for(let aname in obj.definition.associations) {
            let assocdef =obj.definition.associations[aname];
            let assoc = obj._associations[aname];
            if(assoc) {
                if (assocdef.cardinality === 1) {
                    // Add item to the graph
                    otype = assoc.definition.name;
                    aoid = obj._associations[aname].id;
                    nodes[aoid] = {
                        id: aoid,
                        name: obj._associations[aname].name,
                        group: otype,
                        level: obj.package,
                        view: otype + "3D"
                    };
                    links.push({source: oid, target: aoid, value: 5});
                    // Add the item to the grid.
                    listRecord[aname] = assoc._attributes.name;
                    listRecord[aname + 'detail'] = `<a href="${otype}?id=${aoid}" tartget="_self" > ${assoc._attributes.name}</a>`;
                } else {
                    let recoutput = [];
                    for (let j in assoc) {
                        // Add item to the graph
                        aobj = assoc[j];
                        otype = aobj.definition.name;
                        aoid = aobj._attributes.id;
                        nodes[aoid] = {
                            id: aoid,
                            name: obj._associations[aname][j]._attributes.name,
                            group: otype,
                            level: obj.package,
                            view: otype + "3D"
                        };
                        links.push({source: oid, target: aoid, value: 5});
                        // Add the item to the grid
                        recoutput.push(`<a href="${otype}?id=${aoid}" target="_self">${aobj._attributes.name}</a>`);
                    }
                    //
                    listRecord[aname] = recoutput.length;
                    listRecord[aname + 'detail'] = recoutput.join(',');
                }
            }
        }
        // Add data to the graph.
        graph.addData(nodes, links);
        // Add item to the list.
        listRecord['recid'] = oid;
        let rec = w2ui['objlist'].get(oid);
        if(!rec) {
            w2ui['objlist'].add([listRecord]);
        } else {
            w2ui['objlist'].set(oid, listRecord);
        }
    }
    console.log("http://<%= hostURL %>");
    const socket = io('http://<%= hostURL %>',{ transport : ['websocket'] } );
    socket.on('<%= className %>.update', (res) => {
        console.log("UPDATE:" + res);
        updateObject(res.obj);
    });
    socket.on('<%= className %>.create', (res) => {
        console.log("CREATE:" + res);
        updateObject(res.obj);
    });
    let data = {nodes: {}, links: []};
    <% for(let i in robjs) {
    let obj = robjs[i];
    let oid = i;
    let otype = obj.className;
    let mview = ""
    %>
    data.nodes["<%= oid %>"] = {id:"<%= oid %>", name:"<%= obj.name %>", group: "<%= otype %>", level:'<%= obj.package.name.replace(/ /g,'') %>', view:'<%= otype %>3D'};
        <% for (let aname in definition.associations) {
        if(obj[aname]) {
            let linkValue = 10;
            if(definition.associations[aname].owner) {
                linkValue = 5;
            }
            if(definition.associations[aname].composition) {
                linkValue = 1;
            }
            if(definition.associations[aname].cardinality === 1) {
                let aoid = obj[aname].id;
                let otype = obj[aname].className;
            %>
                data.nodes["<%= aoid %>"] = {id:"<%= aoid  %>", name:"<%= obj[aname].name %>", group: '<%= otype %>', level:'<%= obj[aname].package.name.replace(/ /g,"") %>', view:'<%- otype %>3D' };
                data.links.push({source:"<%= oid %>", target:"<%= aoid %>", value: <%= linkValue %>});
                <% } else {
                    for(let j in obj[aname]) {
                        let aoid = obj[aname][j].id;
                        let otype = obj[aname][j].className;
                    %>
                        data.nodes["<%= aoid %>"] = {id:"<%= aoid  %>", name:"<%= obj[aname][j].name %>", group: '<%= otype %>', level:'<%= obj[aname][j].package.name.replace(/ /g,"") %>', view:'<%- otype %>3D'};
                        data.links.push({source:"<%= oid %>", target:"<%= aoid %>", value:<%= linkValue %>});
                    <%}
                    }
                }
            }
        } %>
        let graph = new Graph3D("DrawingArea", data, {background:"#005555", width:'100%', height:600,
            selectCallback: (id) => {
                w2ui['objlist'].selectNone();
                w2ui['objlist'].select(id);
                w2ui['objdetail'].clear();
                let record = w2ui['objlist'].get(id);
                if(record) {
                    w2ui['objdetail'].add([
                        <%- doutput -%>
                    ]);
                }
            }
        });
</script>

