<div class="modelActionBar">
   <%- partial('./src/views/model/_actionBar.ejs', {definition: definition, obj:null, className:className}) %>
</div>
<form action="/<%= className %>/create">
   <h3>Create <%= className %> </h3>
   <table>
      <% for(let name in definition.attributes) {
         let attr = definition.attributes[name];
      %>
      <tr>
         <td align="right"><%= name %></td>
         <td> <input type="text" name="<%= name %>" value="" /></td>
      </tr>
      <% } %>

      <% for(let name in definition.associations) {
      let attr = definition.associations[name];
      %>
      <tr>
         <td align="right"><%= name %></td>
         <% if(attr.cardinality === 1) { %>
         <td><input type="text" name="<%= name %>" value="" /></td>
         <% } else { %>
         <td> * <input type="text" name="<%= name %>" value="" /></td>
         <% } %>
      </tr>
      <% } %>
   </table>
   <input type="submit" value="Submit" >
</form>
